.content-video {
  img{
    position:relative;
    z-index: 5;
    //top: 70px;
  }
  h1 {
    position: absolute;
    z-index: 10;
    bottom: -12%;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #26fff4;
    left: 19%;
    .h-efp {
      font-size: 140px;
      line-height: 110px;
      letter-spacing: 0.25em;
    }
    .h-entreprise {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 0.25em;
    }
    .h-peinture{
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 0.25em;
      letter-spacing: 0.1875em;
    }
  }
  
}
.content-desc{
  display: flex;
  flex-direction: row;
  align-items: center;
  .yellow-rec{
    width: 125px;
    height: 88vh;
    background-color: $jaune;
    position: relative;
  }
  .grey-rec{
    padding: 50px;
    width: 50%;
    height: 75.5vh;
    background-color: $vertGris;
    position: relative;
    left: -3.75em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    h2{
      text-transform: uppercase;
      margin: 10px 0 10px 0;
      font-size: 40px;
      color: $vertFonce;
      font-weight: bold;
      z-index: 5;
    }
    p{
      margin-bottom: 20px;
      z-index: 5;
    }
  }
  .grey-rec::before{
    content: "";
    position: absolute;
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    border: dashed 2px $vertGris;
    right: -25%;
    top: -25%;
  }
  .depot{
    width: 420px;
    height:200px;
    z-index: 5;
  }
}
.container-content {
  width: 100%;
}
.content-box {
  padding: 0 80px 0 80px;
}
.dashed-top {
  background-image: linear-gradient(
    to right,
    $vertGris 66%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top;
  background-size: 25px 2px;
  background-repeat: repeat-x;
}
.dashed::before {
  background-position: left;
}
.dashed::after {
  background-position: right;
  right: 80px;
}
.dashed::after,
.dashed::before {
  content: "";
  position: absolute;
  min-height: 100vh;
  width: 2px;
  z-index: 10;
  background-image: linear-gradient($vertGris 66%, rgba(255, 255, 255, 0) 0%);
  background-size: 2px 25px;
  background-repeat: repeat-y;
}


/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}


@media (max-width: 640px) {
  .content-box {
    padding: 0;
  }
  .dashed::after {
    right: 0;
  }
  .content-video{
    img{
      top: 70px;
    }
    h1 {
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      color: #26fff4;
      display: block;
      margin: 0 auto;
      bottom: unset;
      .h-efp {
        font-size: 50px;
        letter-spacing: .875em;
        line-height: 35px;
      }
      .h-entreprise {
        font-size: 22px;
        line-height: 20px;
      }
      .h-peinture{
        font-size: 22px;
        line-height: 20px;
        letter-spacing: 0.25em;
        letter-spacing: 0.1875em;
      }
    }
  }
  .content-desc{
    .grey-rec{
      width: 100%;
      padding: 15px;
      h2{
        font-size: 25px;
      }
      p{
        font-size: 12px;
      }
    }
    .grey-rec::before{
      height: 30vh;
      width: 30vh;
      right: -15%;
      top: -15%;
    }
    .depot{
      display: none;
    }
  }
  
  
}
